@page "/fleetmanagement"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Fleet Management</PageTitle>

<div class="container mt-5">
    <h3>Fleet Management</h3>
    <p>Hey there! Welcome to the admin panel.</p>
</div>