@page "/admin/fleet"
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Worker,Admin")]

<div class="fleetmanagement-header">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="mb-0">Fleet Management</h3>
            <a href="/" class="btn btn-outline-secondary back-button">
                <i class="bi bi-arrow-left"></i> Back to homepage
            </a>
        </div>
    </div>
</div>

@code {

}
