@using Microsoft.AspNetCore.Components.Authorization

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            CarRentalApp
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
                </NavLink>
            </div>

            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="my-rentals">
                            <span class="bi bi-calendar-check-fill" aria-hidden="true"></span> My Rentals
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="profile">
                            <span class="bi bi-person-fill" aria-hidden="true"></span> My Profile
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>

            <AuthorizeView Roles="Admin,Worker">
                <Authorized>
                    <hr class="my-3" />
                    <div class="nav-item px-3">
                        <strong class="text-white-50 small">MANAGEMENT</strong>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/rentals">
                            <span class="bi bi-clipboard-check-fill" aria-hidden="true"></span> Manage Rentals
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/fleet">
                            <span class="bi bi-car-front" aria-hidden="true"></span> Fleet Management
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/clients">
                            <span class="bi bi-people-fill" aria-hidden="true"></span> Clients
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>

        <div style="margin-top: auto;">
            <hr />

            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <span class="nav-link text-white">
                            <span class="bi bi-person-circle"></span> @context.User.Identity?.Name
                        </span>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="logout">
                            <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Logout
                        </NavLink>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="login">
                            <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Login
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="register">
                            <span class="bi bi-person-plus-fill" aria-hidden="true"></span> Register
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </nav>
</div>